<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        body {
            background: linear-gradient(120deg, #3a7bd5 0%, #3a6073 100%);
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            padding: 20px;
            width: 300px;
            color: white;
        }
        h2 {
            color: white;
            text-align: center;
    
        }
        label {
            justify-content: left;
            text-align: left;
        }
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button {
            background: linear-gradient(45deg, #3a7bd5, #3a6073);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
        }
        button:hover {
            background: linear-gradient(45deg, #3a6073, #3a7bd5);
        }
        .error {
            color: red;
            margin-top: 10px;
        }
        h6 {
            justify-items: center;
            text-align: center;
            color: wheat;
            padding-bottom: 8px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <h6>Please reset your password!</h6>
        <form id="forgot-password-form" action="/faculty/reset-password" method="POST">
            <input type="hidden" name="user_id" id="user_id" value="<%= user_id %>">
            <label for="new-password"><b>New Password:</b></label>
            <input type="password" id="new-password" name="newPassword" placeholder="New Password" required>

            <label for="confirm-password"><b>Confirm Password:</b></label>
            <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Reset Password</button>
            <div class="error" id="error-message" style="display: none;"></div>        </form>
    </div>
    <script>
        document.getElementById('forgot-password-form').addEventListener('submit', function(event) {
            var newPassword = document.getElementById('new-password').value;
            var confirmPassword = document.getElementById('confirm-password').value;
            var errorMessage = document.getElementById('error-message');

            if (newPassword === '' || confirmPassword === '') {
                event.preventDefault();
                errorMessage.textContent = 'Password cannot be empty.';
                errorMessage.style.display = 'block';
            } else if (newPassword.length < 8) {
                event.preventDefault();
                errorMessage.textContent = 'Password should be at least 8 characters.';
                errorMessage.style.display = 'block';
            } else if (newPassword !== confirmPassword) {
                event.preventDefault();
                errorMessage.textContent = 'Passwords do not match. Please try again.';
                errorMessage.style.display = 'block';
            } else {
                errorMessage.style.display = 'none';
            }
        });
    </script>
</body>
</html>
